<div class="container">
  <div class="row justify-content-sm-center">
    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
        <div class='card' style='height: 12vw; width: 16vw; margin: 1vw;'>
          <div class='card-body'>
            <h3><%= restaurant.name %></h3>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
