<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <% @restaurants.each do |restaurant| %>
        <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
      <% end %>
    </div>
  </div>
</div>
